./Lesson1/venv
./Lesson1/.idea
./Lesson1/.DS_Store

./Lesson2/venv
./Lesson2/.idea
./Lesson2/.DS_Store

./Lesson3/venv
./Lesson3/.idea
./Lesson3/.DS_Store

./Lesson4/venv
./Lesson4/.idea
./Lesson4/.DS_Store

./.DS_Store
./.idea